.Header {
    width: 100%;
    margin-top: 15px;
    justify-content: center;
    display: flex;
}

.Header * {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 5px 5px 6px rgba(64, 64, 64, 0.85);
}