.Project-List {
    h1 {
      color: white;  
    }
    
    ul {
      list-style-type: none;
    }
}

.Project-Entry {
    border-radius: 1vw;
    color: white;
    display: flex;
    height: 15vw;
    max-height: 250px;
    max-width: 70rem;
    margin: auto;
    margin-bottom: 20px;
    overflow: hidden;
}

.Project-Image {
    flex: 3;
}

.Project-Details {
    flex: 7;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 15px;
}

.Project-Name {
    flex: 1;
    margin: 0;
}

.Project-Role {
    flex: 1;
    margin: 0;
}

.Project-Brief {
    flex: 3;
}