.Project-List {
    h1 {
      color: white;  
    }
    
    ul {
      list-style-type: none;
    }
}

.Project-Entry {
    border-radius: 1vw;
    color: white;
    display: flex;
    height: 15vw;
    max-height: 250px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    overflow: hidden;
}

.Project-Image {
    flex: 3;
}

.Project-Thumbnail {
    object-fit: cover;
    border-radius: 1vw;
    width: 100%; 
    height: 100%;
}

.Project-Details {
    flex: 7;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 15px;
}

.Project-Name {
    flex: 1;
    margin: 0;
    font-size: calc(2vw + 3px);
}

.Project-Role {
    flex: 1;
    margin: 0;
    font-size: calc(2vw - 7px);
}

.Project-Brief {
    flex: 3;
    font-size: calc(1.8vw - 5px);
}