.title {
    font-size: 2vw;
}

.padding-10 {
    padding: 10px;
}

.padding-20 {
    padding: 20px;
}

.soft-box {
    background-color: rgba(111,111,111,0.95);
    border-radius: 1vw;
}

.bg-cover {
    object-fit: cover;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center-h {
    justify-content: center;
}

.flex-center-v {
    align-items: center;
}

.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-3 { flex: 3; }
.flex-4 { flex: 4; }
.flex-5 { flex: 5; }
.flex-6 { flex: 6; }
.flex-7 { flex: 7; }
.flex-8 { flex: 8; }
.flex-9 { flex: 9; }
.flex-10 { flex: 10; }